<div class="card-group mb-3 shadow p-1 mb-5 bg-dark ">
        <div class="card bg-dark text-white">
            {% if item.photo %}
            <img src="{{ item.photo.url }}" class="card-img-top" alt="">
            {% else %}
            <img src="https://3dnews.ru/assets/external/illustrations/2022/02/21/1060683/cp_2077_title.jpg" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="media card-text">{{ item.content|safe|linebreaksbr|truncatewords:100 }}</p>
                <a href="{{ item.get_absolute_url }}" class="link-info">Читать полностью...</a>
            </div>
            <div class="card-footer">
                <small> <b>Категория:</b> <a href="{% url 'category' item.category.pk %}"  class="link-success">{{ item.category.title }} </a>
                </small><br>
                <small class="text-muted">{{ item.updated_at|date:"Y-m-d H:i" }}</small>
            </div>
        </div>
    </div>